<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="stylesheets/styles.css"">
    <title>ExtremeTech | Productos</title>
</head>

<body class="body-product">
    <header>
        <nav class="navbar">
          <div class="container">
            <!-- menu hamburguer -->
            <div class="menu-hamburguer">
              <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="#">Ofertas</a>
                <a href="#">Notebooks</a>
                <a href="#">Productos</a>
                <a href="#">Contact</a>
              </div>
              <!-- toggle nav -->
              <div id="main">
                <button class="openbtn" onclick="openNav()">&#9776;</button>
              </div>
            </div>
            <!-- logo navbar -->
            <div class="logo">
              <img src="images/images-home/EXTREME TECH (1).png" alt="" />
            </div>
            <!-- search -->
            <div class="search-container">
              <input type="search" name="" id="" />
              <i class="fas fa-search"></i>
            </div>
            <!-- login and cart -->
            <div class="login-cart">
              <a href="#"><i class="fas fa-shopping-cart"></i></a>
              <!-- Comienza ventana modal Login -->
              <div>
                <button onclick="openModal()" name="button">Login</button>
              </div> 
              <div class="modal" id="modalAdd">
                <div class="modal-container">
                  <div class="close-modal" onclick="closeModal()">X</div>
                  <div>
                    <div class="section2-login">
                      <h2 class="enter-register">Inicia sesion/Registrate</h2>
                      <form action="" class="form-login">
                          <p class="user">
                          <label for="user"><i class="far fa-envelope"></i>
          
                          </label>
                              <input class="inputs" type="text" name="user" id="user" placeholder="Usuario">
                          </p>
                          <p class="pass">
                              <label for="password"><i class="fas fa-lock"></i></label>
                              <input class="inputs" type="password" name="password" id="password" placeholder="Contraseña">
                          </p>
                          <p class="remember-password">
                          <label for="remember">Recordar contraseña</label>
                          <input type="checkbox" name="remember" id="remember">
                      </p>
                          <a class="a-login" href="#">Olvidaste tu contraseña?</a>
                          <h3 class="enter"> O ingresa con:</h4>
                          <div class="login-gmail">
                          <a href="#"><div><img src="/images/google.png" alt=""></div><div class="btn-google"><h6>Google</h6></div></a>
                      </div>
                      </form>
                      <div class="btn-login">
                      <button class="btn-style" type="submit">Ingresar</button>
                      <button class="btn-style" type="submit">Registrarme</button>
                  </div>
                </div>
                  </div>
                  
                </div>
              </div>
              <script src="/javascript/modal.js"></script>
            </div>
          </div>
          <!-- links -->
          <ul class="ul-links">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Notebooks</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Nosotros</a></li>
          </ul>
        </nav>
      </header>
    <main class="main-product">
        <section class="list-product">
            <div id="lista">
                <h4>Categorias</h4>
                <ul class="ul-product">
                    <li ><a href="">Alimentacion</a></li>
                    <li><a href="">Almacenamiento</a></li>
                    <li><a href="">Microprocesadores</a></li>
                    <li><a href="">Motherboards</a></li>
                    <li><a href="">Memorias</a></li>
                    <li><a href="">Placas de video</a></li>
                        <li><a href="">Refrigeracion</a></li>
                        <li><a href="">Gabinetes</a></li>
                        <li><a href="">Teclados y mouses</a></li>
                        <li><a href="">Audio,parlantes,auriculares y mic</a></li>
                        <li><a href="">Software</a></li>
                        <li><a href="">Monitores</a></li>
                        <li><a href=""></a></li>
                    </ul>
                </div>
            </section>
            <section class="cards-product">
                <article class="product-item">
                    <div class="img-article">
                        <img src="/images/Imagenes_productos/Ryzen.jpg" alt="">
                    </div>
                    <div class="description-product">
                    <h4>Procesador AMD Ryzen 7 3700X</h4>
                    <P>20.000</P>
                    <button class="btn-product"><a href="">Ver producto</a></button>
                    </div>
                </article>
                
                <article class="product-item">
                    <div class="img-article">
                        <img src="/images/Imagenes_productos/Ryzen.jpg" alt="">
                    </div>
                    <div class="description-product">
                    <h4>Procesador AMD Ryzen 5 1600</h4>
                    <P>20.000</P>
                    <button class="btn-product"><a href="">Ver producto</a></button>
                </div>
                </article>
               
                <article class="product-item">
                    <div class="img-article">
                        <img src="/images/Imagenes_productos/Ryzen.jpg" alt="">
                    </div>
                    <div class="description-product">
                    <h4>Procesador AMD Ryzen 9 3900x</h4>
                    <P>20.000</P>
                    <button class="btn-product"><a href="">Ver producto</a></button>
                    </div>
                </article>
                
                <article class="product-item">
                    <div class="img-article">
                        <img src="/images/Imagenes_productos/Ryzen.jpg" alt="">
                    </div>
                    <div class="description-product">
                    <h4>Procesador AMD Ryzen 9 3950X</h4>
                    <P>20.000</P>
                    <button class="btn-product"><a href="">Ver producto</a></button>
                    </div>
                </article>
            
                <article class="product-item">
                    <div class="img-article">
                        <img src="/images/Imagenes_productos/Intel.jpg" alt="">
                    </div>
                    <div class="description-product">
                    <h4>Intel Core i7 10700k</h4>
                    <P>20.000</P>
                    <button class="btn-product"><a href="">Ver producto</a></button>
                    </div>
                </article>
                
                <article class="product-item">
                    <div class="img-article">
                        <img src="/images/Imagenes_productos/Intel.jpg" alt="">
                    </div>
                    <div class="description-product">
                    <h4>Intel Core i7 10700F</h4>
                    <P>20.000</P>
                    <button class="btn-product"><a href="">Ver producto</a></button>
                    </div>
                </article>
                
                <article class="product-item">
                    <div class="img-article">
                        <img src="/images/Imagenes_productos/Intel.jpg" alt="">
                    </div>
                    <div class="description-product">
                    <h4>Intel Core i9 10900KF</h4>
                    <P>20.000</P>
                    <button class="btn-product"><a href="">Ver producto</a></button>
                    </div>
                </article>
                
                <article class="product-item">
                    <div class="img-article">
                        <img src="/images/Imagenes_productos/Intel.jpg" alt="">
                    </div>
                    <div class="description-product">
                    <h4>Intel Core i5 10600k</h4>
                    <P>20.000</P>
                    <button class="btn-product"><a href="">Ver producto</a></button>
                    </div>
                </article>
                <article class="product-item">
                    <div class="img-article">
                        <img src="/images/Imagenes_productos/Intel.jpg" alt="">
                    </div>
                    <div class="description-product">
                    <h4>Intel Core i5 10600k</h4>
                    <P>20.000</P>
                    <button class="btn-product"><a href="">Ver producto</a></button>
                    </div>
                </article>
                <article class="product-item">
                    <div class="img-article">
                        <img src="/images/Imagenes_productos/Intel.jpg" alt="">
                    </div>
                    <div class="description-product">
                    <h4>Intel Core i5 10600k</h4>
                    <P>20.000</P>
                    <button class="btn-product"><a href="">Ver producto</a></button>
                    </div>
                </article>
                <article class="product-item">
                    <div class="img-article">
                        <img src="/images/Imagenes_productos/Intel.jpg" alt="">
                    </div>
                    <div class="description-product">
                    <h4>Intel Core i5 10600k</h4>
                    <P>20.000</P>
                    <button class="btn-product"><a href="">Ver producto</a></button>
                    </div>
                </article>
                <article class="product-item">
                    <div class="img-article">
                        <img src="/images/Imagenes_productos/Intel.jpg" alt="">
                    </div>
                    <div class="description-product">
                    <h4>Intel Core i5 10600k</h4>
                    <P>20.000</P>
                    <button class="btn-product"><a href="">Ver producto</a></button>
                    </div>
                </article>
            </section>
        </main>
        <footer>
            <!-- CATEGORY LIST -->
            <ul class="categorys ul-style">
                <h4 class="h4-footer">Categorias</h4>
                <li class="li-footer"><a class="a-footer" href="#">Placa de video</a></li>
                <li class="li-footer"><a class="a-footer" href="#">Procesadores</a></li>
                <li class="li-footer"><a class="a-footer" href="#">Memorias</a></li>
                <li class="li-footer"><a class="a-footer" href="#">Todas las categorias</a></li>
            </ul>
            <!-- BRAND LIST -->
            <ul class="brand ul-style" >
                <h4 class="h4-footer">Marcas</h4>
                <li class="li-footer"><a class="a-footer" href="#">Intel</a></li>
                <li class="li-footer"><a class="a-footer" href="#">Amd</a></li>
                <li class="li-footer"><a class="a-footer" href="#">Aorus</a></li>
                <li class="li-footer"><a class="a-footer" href="#">Asus</a></li>
            </ul>
            <!-- MOST WANTED LIST --> 
            <ul class="wanted ul-style">
                <h4 class="h4-footer">Lo mas buscado</h4>
                <li class="li-footer"><a class="a-footer" href="#">Placas de video</a></li>
                <li class="li-footer"><a class="a-footer" href="#">Procesadores Amd</a></li>
                <li class="li-footer"><a class="a-footer" href="#">Teclados</a></li>
                <li class="li-footer"><a class="a-footer" href="#">RGB</a></li>
            </ul>
            <!-- HELP LIST -->
            <ul class="help ul-style">
                <h4 class="h4-footer">Ayuda</h4>
                <li class="li-footer><a class="a-footer" href="mailto:aimeagustinagarces@gmail.com">compu@compu.com</a></li>
                
            </ul>
            <!-- REDES -->
            <ul class="networks ul-style">
                <h4 class="h4-footer">Redes</h4>
                <div class="networks-img">
                    <li class="li-footer"><a class="a-footer" href="https://www.instagram.com" target="_blank"><img alt="boton instagram" src="https://cdn.jsdelivr.net/gh/persano/bannersmaximus/instagram.svg" style="height:35px;width:45px;vertical-align:middle"></a></li>
                    <li class="li-footer"><a class="a-footer" href="https://api.whatsapp.com/send?phone=1111111111" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                    <li class="li-footer"><a class="a-footer" href="https://www.facebook.com" target="_blank"><img alt="boton facebook" src="https://cdn.jsdelivr.net/gh/persano/maximus/facebook1.svg" style="height:35px;width:45px;vertical-align:middle"></a></li>
                </div>
            </ul>
        </footer>
    </body>
    </html>