<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <!-- Css Linked -->
    <link rel="stylesheet" href="stylesheets/styles.css">
    <title>ProductDetail</title>
</head>
<body>
    <div class="containerProduct">
        <!-- Slide section -->
        <section class="imageProduct">
          <h2>Mouse Pulse Fire Dart</h2>
          <img class="imgIndividual" src="/images/hyperx/hx-pulsefire-dart-2.jpg" alt="mouse pulsefiredart" />
          <div class="containerSlider">
            <div class="container">
              <input type="radio" id="1" name="image-slide" hidden />
              <input type="radio" id="2" name="image-slide" hidden />
              <input type="radio" id="3" name="image-slide" hidden />
      
              <div class="slide">
                <div class="item-slide">
                  <img src="/images/hyperx/hx-pulsefire-dart-0.jpg" alt="mouse pulsefiredart" />
                </div>
      
                <div class="item-slide">
                  <img src="/images/hyperx/hx-pulsefire-dart-1.jpg" alt="mouse pulsefiredart" />
                </div>
      
                <div class="item-slide">
                  <img src="/images/hyperx/hx-pulsefire-dart-2.jpg" alt="mouse pulsefiredart"/>
                </div>
              </div>
      
              <div class="pagination">
                <label for="1" class="pagination-item">
                  <img src="/images/hyperx/hx-pulsefire-dart-0.jpg" alt="mouse pulsefiredart" />
                </label>
      
                <label for="2" class="pagination-item">
                  <img src="/images/hyperx/hx-pulsefire-dart-1.jpg" alt="mouse pulsefiredart" />
                </label>
      
                <label for="3" class="pagination-item">
                  <img src="/images/hyperx/hx-pulsefire-dart-2.jpg" alt="mouse pulsefiredart" />
                </label>
              </div>
            </div>
          </div>
        </section>
        <!-- Slide section -->
  
        <!-- Price section -->
        <section class="priceProduct">
          <div class="price">
            <h1>$9200</h1>
            <hr />
            <p> <strong>Stock:</strong>  5 unidades disponibles</p>
            <p>
              <strong>Cuotas:</strong>  9, 12, 18 sin interes.
            </p>
            <p>
            <label for="cantidad"><strong>Cantidad</strong></label>
            <input type="number" name="cantidad" id="cantidad" value="0" min="0" max="5"/>
            </p>
            <div class="containerBtn">
              <button class="buttonAdd" type="submit">Agregar al carrito</button>
            </div>
          </div>
          <hr />
          <div class="payment">
            <h3>Medios de pago</h3>
            <div>
              <h4>Tarjetas de crédito</h4>
              <img src="/images/visa-seeklogo.com.svg" alt="Visa" />
              <img src="/images/mastercard-seeklogo.com.svg" alt="Mastercard" />
              <img src="/images/amex-american-express-logo.svg" alt="AmericanExpress" />
            </div>
            <div>
              <h4>Tarjetas de debito</h4>
              <img src="/images/visa-seeklogo.com.svg" alt="Visa" />
              <img src="/images/mastercard-seeklogo.com.svg" alt="Mastercard" />
              <img src="/images/maestro-seeklogo.com.svg" alt="Maestro" />
            </div>
            <div>
              <h4>Efectivo</h4>
              <img src="/images/Rapipago-logo-A91BEC6D1D-seeklogo.com.png" alt="Rapipago" />
              <img src="/images/Pago_Facil-logo-75642B5CCE-seeklogo.com.png" alt="PagoFacil" />
              <img src="/images/provincia-net-logo-33347463AC-seeklogo.com.png" alt="ProvinciaNet" />
            </div>
          </div>
        </section>
        <!-- Price section -->
  
        <!-- Product specifications -->
        <section class="specifications">
          <h3>Características del Producto</h3>
          <div>
            <h4>General</h4>
            <ul>
              <li><strong>Marca:</strong>Hyper X</li>
              <li><strong>Modelo:</strong> Pulse Dart Fire</li>
              <li><strong>Ergonómico:</strong> Ergonómico</li>
              <li><strong>Color:</strong> Negro</li>
            </ul>
          </div>
          <div>
            <h4>Especificaciones</h4>
            <ul>
              <li><strong>Tipo:</strong> De juego</li>
              <li><strong>Interfaces:</strong> USB</li>
              <li><strong>Alcance Maximo:</strong> 2.1m</li>
              <li><strong>Sensor:</strong> 800/ 1600/ 3200 dpi</li>
            </ul>
          </div>
          <div>
            <h4>Otras especificaciones</h4>
            <ul>
              <li><strong>Tipo de conexion:</strong> inalámbrica de 2,4GHz/con cable</li>
              <li><strong>Rueda de desplazamiento:</strong> Si</li>
              <li><strong>Luces:</strong> Iluminación RGB por LED3</li>
              <li><strong>Bluetooth:</strong> No</li>
            </ul>
          </div>
        </section>
        <!-- Product specifications -->
      </div>
     
</body>
</html>