<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <script src="javascript/menu.js"></script>
    <!-- Css Linked -->
    <link rel="stylesheet" href="stylesheets/styles.css">
    <title>ProductDetail</title>
</head>
<body>
  <header>
    <nav class="navbar">
      <div class="container">
        <!-- menu hamburguer -->
        <div class="menu-hamburguer">
          <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#Ofertas">Ofertas</a>
            <a href="/products">Notebooks</a>
            <a href="/products">Productos</a>
            <a href="#">Contact</a>
          </div>
          <!-- toggle nav -->
          <div id="main">
            <button class="openbtn" onclick="openNav()">&#9776;</button>
          </div>
        </div>
        <!-- logo navbar -->
        <div class="logo">
          <a href="/"><img src="images/images-home/EXTREME TECH (1).png" alt="" /></a>
        </div>
        <!-- search -->
        <div class="search-container">
          <input type="search" name="" id="" />
          <i class="fas fa-search"></i>
        </div>
        <!-- login and cart -->
        <div class="login-cart">
          <!-- Comienzo ProductCart -->
          <div class="productCart">
            <input type="checkbox" id="btn-modalCart" />
            <label for="btn-modalCart" class="lbl-modalCart"
              ><i class="fas fa-shopping-cart"></i
            ></label>

            <div class="modalCart">
              <div class="containerCart">
                <h2 class="titleCart">Carrito de Compras</h2>
                <label for="btn-modalCart"><i class="fas fa-times cruz"></i></label>

                <div class="containerProduct">
                  <h4>Productos</h4>
                  <div class="productCardCart">
                    <div class="image">
                      <img src="/images/hyperx/hx-pulsefire-dart-2.jpg" alt="mouse hyperX"
                      />
                    </div>
                    <div class="description">
                      <p class="nameProduct">Mouse HyperX Pulse Fire Dart</p>
                      <input type="number" placeholder="0" max="5" min="0" maxlength="1" minlength="1"
                      />
                    </div>
                    <div class="price">
                      <i class="fas fa-trash-alt trash"></i>
                      <p>$ 9200</p>
                    </div>
                  </div>
                  <div class="productCardCart">
                    <div class="image">
                      <img src="/images/hyperx/hx-pulsefire-dart-2.jpg" alt="mouse hyperX"
                      />
                    </div>
                    <div class="description">
                      <p class="nameProduct">Mouse HyperX Pulse Fire Dart</p>
                      <input type="number" placeholder="0" max="5" min="0" maxlength="1" minlength="1"
                      />
                    </div>
                    <div class="price">
                      <i class="fas fa-trash-alt trash"></i>
                      <p>$ 9200</p>
                    </div>
                  </div>
                  <div class="productCardCart">
                    <div class="image">
                      <img src="/images/hyperx/hx-pulsefire-dart-2.jpg" alt="mouse hyperX"
                      />
                    </div>
                    <div class="description">
                      <p class="nameProduct">Mouse HyperX Pulse Fire Dart</p>
                      <input type="number" placeholder="0" max="5" min="0" maxlength="1" minlength="1"
                      />
                    </div>
                    <div class="price">
                      <i class="fas fa-trash-alt trash"></i>
                      <p>$ 9200</p>
                    </div>
                  </div>
                  <div class="subtotal">
                    <p><span>Subtotal:</span></p>
                    <p>$ 27.600</p>
                  </div>
                  <div class="total">
                    <p><span>Total:</span></p>
                    <p>$ 27.600</p>
                  </div>
                  <div class="buy">
                    <a href="#"
                      ><button class="moreProducts">Ver más productos</button></a
                    >
                    <button class="buttonBuy" type="submit">Iniciar compra</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Fin ProductCart -->
          <!-- Comienza ventana modal Login -->
          <div>
            <button onclick="openModal()" name="button">Login</button>
          </div> 
          <div class="modal" id="modalAdd">
            <div class="modal-container">
              <div class="close-modal" onclick="closeModal()">X</div>
              <div>
                <div class="section2-login">
                  <h2 class="enter-register">Inicia sesion/Registrate</h2>
                  <form action="" class="form-login">
                      <p class="user">
                      <label for="user"><i class="far fa-envelope"></i>
      
                      </label>
                          <input class="inputs" type="text" name="user" id="user" placeholder="Usuario">
                      </p>
                      <p class="pass">
                          <label for="password"><i class="fas fa-lock"></i></label>
                          <input class="inputs" type="password" name="password" id="password" placeholder="Contraseña">
                      </p>
                      <p class="remember-password">
                      <label for="remember">Recordar contraseña</label>
                      <input type="checkbox" name="remember" id="remember">
                  </p>
                      <a class="a-login" href="#">Olvidaste tu contraseña?</a>
                      <h3 class="enter"> O ingresa con:</h4>
                      <div class="login-gmail">
                      <a href="#"><div><img src="/images/google.png" alt=""></div><div class="btn-google"><h6>Google</h6></div></a>
                  </div>
                  </form>
                  <div class="btn-login">
                  <button class="btn-style" type="submit">Ingresar</button>
                  <button class="btn-style" type="submit">Registrarme</button>
              </div>
            </div>
              </div>
              
            </div>
          </div>
          <script src="/javascript/modal.js"></script>
        </div>
      </div>
      <!-- links -->
      <ul class="ul-links">
        <li><a href="#Ofertas">Ofertas</a></li>
        <li><a href="/products">Notebooks</a></li>
        <li><a href="/products">Productos</a></li>
        <li><a href="#">Nosotros</a></li>
      </ul>
    </nav>
  </header>
    <div class="containerProduct">
        <!-- Slide section -->
        <section class="imageProduct">
          <h2>Mouse Pulse Fire Dart</h2>
          <img class="imgIndividual" src="/images/hyperx/hx-pulsefire-dart-2.jpg" alt="mouse pulsefiredart" />
          <div class="containerSlider">
            <div class="container">
              <input type="radio" id="1" name="image-slide" hidden />
              <input type="radio" id="2" name="image-slide" hidden />
              <input type="radio" id="3" name="image-slide" hidden />
      
              <div class="slide">
                <div class="item-slide">
                  <img src="/images/hyperx/hx-pulsefire-dart-0.jpg" alt="mouse pulsefiredart" />
                </div>
      
                <div class="item-slide">
                  <img src="/images/hyperx/hx-pulsefire-dart-1.jpg" alt="mouse pulsefiredart" />
                </div>
      
                <div class="item-slide">
                  <img src="/images/hyperx/hx-pulsefire-dart-2.jpg" alt="mouse pulsefiredart"/>
                </div>
              </div>
      
              <div class="pagination">
                <label for="1" class="pagination-item">
                  <img src="/images/hyperx/hx-pulsefire-dart-0.jpg" alt="mouse pulsefiredart" />
                </label>
      
                <label for="2" class="pagination-item">
                  <img src="/images/hyperx/hx-pulsefire-dart-1.jpg" alt="mouse pulsefiredart" />
                </label>
      
                <label for="3" class="pagination-item">
                  <img src="/images/hyperx/hx-pulsefire-dart-2.jpg" alt="mouse pulsefiredart" />
                </label>
              </div>
            </div>
          </div>
        </section>
        <!-- Slide section -->
  
        <!-- Price section -->
        <section class="priceProduct">
          <div class="price">
            <h1>$9200</h1>
            <hr />
            <p> <strong>Stock:</strong>  5 unidades disponibles</p>
            <p>
              <strong>Cuotas:</strong>  9, 12, 18 sin interes.
            </p>
            <p>
            <label for="cantidad"><strong>Cantidad</strong></label>
            <input type="number" name="cantidad" id="cantidad" value="0" min="0" max="5"/>
            </p>
            <div class="containerBtn">
              <button class="buttonAdd" type="submit">Agregar al carrito</button>
            </div>
          </div>
          <hr />
          <div class="payment">
            <h3>Medios de pago</h3>
            <div>
              <h4>Tarjetas de crédito</h4>
              <img src="/images/visa-seeklogo.com.svg" alt="Visa" />
              <img src="/images/mastercard-seeklogo.com.svg" alt="Mastercard" />
              <img src="/images/amex-american-express-logo.svg" alt="AmericanExpress" />
            </div>
            <div>
              <h4>Tarjetas de debito</h4>
              <img src="/images/visa-seeklogo.com.svg" alt="Visa" />
              <img src="/images/mastercard-seeklogo.com.svg" alt="Mastercard" />
              <img src="/images/maestro-seeklogo.com.svg" alt="Maestro" />
            </div>
            <div>
              <h4>Efectivo</h4>
              <img src="/images/Rapipago-logo-A91BEC6D1D-seeklogo.com.png" alt="Rapipago" />
              <img src="/images/Pago_Facil-logo-75642B5CCE-seeklogo.com.png" alt="PagoFacil" />
              <img src="/images/provincia-net-logo-33347463AC-seeklogo.com.png" alt="ProvinciaNet" />
            </div>
          </div>
        </section>
        <!-- Price section -->
  
        <!-- Product specifications -->
        <section class="specifications">
          <h3>Características del Producto</h3>
          <div>
            <h4>General</h4>
            <ul>
              <li><strong>Marca:</strong>Hyper X</li>
              <li><strong>Modelo:</strong> Pulse Dart Fire</li>
              <li><strong>Ergonómico:</strong> Ergonómico</li>
              <li><strong>Color:</strong> Negro</li>
            </ul>
          </div>
          <div>
            <h4>Especificaciones</h4>
            <ul>
              <li><strong>Tipo:</strong> De juego</li>
              <li><strong>Interfaces:</strong> USB</li>
              <li><strong>Alcance Maximo:</strong> 2.1m</li>
              <li><strong>Sensor:</strong> 800/ 1600/ 3200 dpi</li>
            </ul>
          </div>
          <div>
            <h4>Otras especificaciones</h4>
            <ul>
              <li><strong>Tipo de conexion:</strong> inalámbrica de 2,4GHz/con cable</li>
              <li><strong>Rueda de desplazamiento:</strong> Si</li>
              <li><strong>Luces:</strong> Iluminación RGB por LED3</li>
              <li><strong>Bluetooth:</strong> No</li>
            </ul>
          </div>
        </section>
        <!-- Product specifications -->
      </div>
      <footer>
        <!-- CATEGORY LIST -->
        <ul class="categorys ul-style">
            <h4 class="h4-footer">Categorias</h4>
            <li class="li-footer"><a class="a-footer" href="#">Placa de video</a></li>
            <li class="li-footer"><a class="a-footer" href="#">Procesadores</a></li>
            <li class="li-footer"><a class="a-footer" href="#">Memorias</a></li>
            <li class="li-footer"><a class="a-footer" href="#">Todas las categorias</a></li>
        </ul>
        <!-- BRAND LIST -->
        <ul class="brand ul-style" >
            <h4 class="h4-footer">Marcas</h4>
            <li class="li-footer"><a class="a-footer" href="#">Intel</a></li>
            <li class="li-footer"><a class="a-footer" href="#">Amd</a></li>
            <li class="li-footer"><a class="a-footer" href="#">Aorus</a></li>
            <li class="li-footer"><a class="a-footer" href="#">Asus</a></li>
        </ul>
        <!-- MOST WANTED LIST --> 
        <ul class="wanted ul-style">
            <h4 class="h4-footer">Lo mas buscado</h4>
            <li class="li-footer"><a class="a-footer" href="#">Placas de video</a></li>
            <li class="li-footer"><a class="a-footer" href="#">Procesadores Amd</a></li>
            <li class="li-footer"><a class="a-footer" href="#">Teclados</a></li>
            <li class="li-footer"><a class="a-footer" href="#">RGB</a></li>
        </ul>
        <!-- HELP LIST -->
        <ul class="help ul-style">
            <h4 class="h4-footer">Ayuda</h4>
            <li class="li-footer><a class="a-footer" href="mailto:aaaaaa@gmail.com">compu@compu.com</a></li>
            
        </ul>
        <!-- REDES -->
        <ul class="networks ul-style">
            <h4 class="h4-footer">Redes</h4>
            <div class="networks-img">
                <li class="li-footer"><a class="a-footer" href="https://www.instagram.com" target="_blank"><img alt="boton instagram" src="https://cdn.jsdelivr.net/gh/persano/bannersmaximus/instagram.svg" style="height:35px;width:45px;vertical-align:middle"></a></li>
                <li class="li-footer"><a class="a-footer" href="https://api.whatsapp.com/send?phone=1111111111" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                <li class="li-footer"><a class="a-footer" href="https://www.facebook.com" target="_blank"><img alt="boton facebook" src="https://cdn.jsdelivr.net/gh/persano/maximus/facebook1.svg" style="height:35px;width:45px;vertical-align:middle"></a></li>
            </div>
        </ul>
    </footer>
</body>
</html>