.body-about {
    height: 100%;
    background-color: #494848;
}
.ul-about-view {
    display: flex;
    margin: 0 auto;
    
}
.ul-about-view ul {
   display: flex;
   margin: 0 auto;
   margin-top: 40px;
   justify-content: center;
}
.ul-about-view ul li {
  color: #666565;
  padding-right: 10px;
}
.ul-about-view ul li a {
    color: #666565;
}
/* content main */

main .content-about-us {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    height: 300px;
    align-items: center;
    border-radius: 5px;
}
main .content-about-us p,
main .content-about-us h3 {
    padding-top: 30px;
}
main .content-about-us p {
    font-size: .95rem;
}
.about-banner-us .img-banner-about {
    width: 100%;
    margin-top: 44px;
    border-bottom: 4px solid #4e5b67;
}
/* media query */

@media (min-width: 768px) {
    .ul-about-view {
        display: none;
    }
}





.linea-tiempo {
    position: relative;
    width: 500px;
    max-width: 95vw;
    height: 100%;
    margin: 0 auto;
    margin-top: 40px;
  }
  .momento {
    position: relative;
    width: 45%;
    box-sizing: border-box;
  }
  .momento:nth-child(even) {
    left: 55%;
  }

  .linea-tiempo::before {
    content: '';
    position: absolute;
    width: 3px;
    background-color: #4e5b67;
    left: 50%;
    height: 100%;
    border-radius: 10px;
  }
  .momento::after {
    content: '';
    position: absolute;
    top: calc(50% + 10px);
    right: calc(-11.11% - 11.5px);
    height: 20px;
    width: 20px;
    background-color: #4e5b67;
    border-radius: 50%;
  }
  .momento:nth-child(even)::after {
    left: calc(-11.11% - 8.5px);
  }
  .momento h3 {
    margin: 10px 0px;
    font-size: 18px;
    text-align: center;
    color: #4e5b67;
  }
  .momento .descripcion {
    background-color: #eee;
    border-radius: 10px;
    padding: 10px;
    line-height: 22px;
    font-size: 14px;
  }
  .momento .descripcion::after {
    content: '';
    position: absolute;
    right: -10px;
    top: calc(50% + 10px);
    height: 0;
    width: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 12px solid #eee;
  }
  .momento:nth-child(even) .descripcion {
    background-color: #3393FE;
    color: white;
  }
  .momento:nth-child(even) .descripcion::after{
    left: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 12px solid #3393FE;
    border-left: none;
  }