.main-carga-productos-panel {
  width: 70%;
  margin: 0 auto;
}
.carga-productos-panel-adm {
  display: flex;
  height: 40px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
.nuevo-producto-panel-adm {
  font-size: 18px;
  margin-top: 20px;
}
.container-productos-carga-individual {
  display: flex;
  flex-direction: column;
}
.carga-form-productos {
  display: flex;
  flex-direction: column;
}
.producto-individual-carga {
  box-shadow: 2px 2px 2px 1px var(--colorPrimary);
  width: 100%;
  padding-left: 10px;
  border: none;
  margin: 0 auto;
  height: 30px;
  margin-top: 10px;
}
#desc-producto-carga-productos {
  margin-top: 30px;
}
.desc-product-text-area {
  height: 80px;
}
.add-file-img-carga-products {
  margin-top: 30px;
}

#add-file-products {
  width: 100%;
  margin-top: 10px;
  height: 26px;
}
#submit-finalizar-carga-productos {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
#btn-submit-finalizar-edit {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 60%;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--colorPrimary);
  border: 1px solid transparent;
  border-bottom: 2px solid var(--colorPrimaryC);
  color: #fff;
  outline: none;
  padding: 8px;
  margin: 0 auto;
}
