/*header*/
.headerEdit {
  background-color: var(--colorPrimary);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logoAdmin {
  width: 90px;
}

.userAdmin p {
  color: white;
  font-size: 13px;
  text-align: end;
}

/*header*/

/*title */

.titleSearch {
  width: 100%;
  text-align: center;
  margin-top: 25px;
}

.titleSearch h1 {
  font-size: 18px;
}

.searchContainer {
  display: flex;
  position: relative;
  width: 50%;
  justify-content: center;
  margin: 10px auto;
  max-width: 220px;
}
/* search-input */
.searchContainer input {
  width: 100%;
  height: 25px;
  border: solid 2px var(--colorSecundary);
  border-radius: 25px;
  padding: 10px;
}
/* search loupe */
.searchContainer i {
  color: black;
  font-size: 14px;
  position: absolute;
  right: 10px;
  top: 5px;
}

/*title*/

/*main*/

.containerEdit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardProduct {
  display: flex;
  margin: 5px 0;
  align-items: center;
  border: solid 1px;
  border-radius: 10px;
  flex-direction: column;
  padding: 10px 10px;
  width: 240px;
}

.cardProduct .image img {
  /* width: 95px; */
  max-width: 60px;
  margin-right: 5px;
}

.cardProduct .description p {
  font-weight: 600;
  font-size: 13px;
}

.cardProduct .containerBtns {
  text-align: center;
  padding: 10px;
}

.cardProduct .containerBtns a,
.cardProduct .containerBtns form button {
  border: solid 2px;
  border-radius: 25px;
  padding: 3px;
  margin: 10px 0;
  font-size: 13px;
}

.cardProduct .containerBtns a {
  background-color: var(--colorSecundaryWhite);
  color: var(--colorPrimaryC);
  padding: 5px 10px;
  font-weight: bold;
}

.cardProduct .containerBtns a:hover {
  background-color: var(--colorSecundary);
  color: var(--colorPrimary);
}

.cardProduct .containerBtns form button {
  color: var(--colorSecundary);
  font-weight: bold;
  border: solid 2px;
}

.cardProduct .containerBtns form button:hover {
  color: var(--colorSecundaryWhite);
  background-color: var(--colorPrimaryC);
}

@media (min-width: 576px) {
  .titleSearch h1 {
    font-size: 22px;
  }
  .headerEdit {
    justify-content: space-between;
    padding: 0 25px;
  }

  .cardProduct {
    justify-content: space-around;
    width: 80%;
    max-width: 820px;
    flex-direction: row;
  }

  .cardProduct div {
    margin: 0 15px;
  }
}
