* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    list-style: none;
    text-decoration: none;
}

:root {
    --colorPrimary: #30475E;
    --colorPrimaryC: #456585;
    --colorSecundary: #F05454;
    --colorSecundaryWhite: #fd7979;
    --colorTertiary: #222831;
    --colorCuart: #E8E8E8;
    --colorWhite: #fff;
    --colorGreen: #236d6159;
    --colorGreenC: #bbe7e0;
}
