

.titleForm {
  text-align: center;
  padding: 10px;
}

.contentForm {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: center;
}

.contentForm .logoForm {
  display: none;
}

.contentForm .logoForm img {
  box-sizing: border-box;
  width: 100%;
  border-radius: 18%;
  padding: 3px 25px;
}

.containerForm div {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 5px;
}

.contentForm .dataForm {
  padding: 0px 20px;
  width: 90%;
  text-align: start;
}

.contentForm .dataForm legend {
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
  margin: 10px 0;
}

.contentForm .dataForm input {
  background-color: rgba(213, 200, 200, 0.583);
  display: block;
  border-radius: 15px;
  box-sizing: border-box;
  margin: 5px 0;
  padding-left: 10px;
  width: 100%;
  height: 30px;
  outline: none;
  border-style: solid;
}

input:focus {
  border: solid 3px rgb(99, 2, 138);
  color: rgb(99, 2, 138);
}

.contentForm .dataForm label {
  margin-left: 5px;
}

.contentForm .dataForm hr{
  margin: 0 5px;
}

.contentForm .dataForm .containerBtn{
  text-align: center;
}

.contentForm .dataForm .buttonForm {
  width: 150px;
  height: 40px;
  font-weight: bold;
  background-color: chartreuse;
  color: black;
  border-radius: 10px;
  border: 0;
  margin: 10px 0 0 0;
}

.contentForm .dataForm .buttonForm:hover {
  color: chartreuse;
  background-color: black;
  border: solid 4px chartreuse;
}

/*Media Queries*/

@media (min-width: 576px) {
  /*Tablet*/
  .contentForm {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
  }

  .contentForm .dataForm {
    width: 100%;
  }

  .contentForm .logoForm {
    margin-top: 5px;
    display: block;
    width: 50%;
    height: 45%;
  }

  .containerForm {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
  }

  .containerForm div {
    width: 45%;
  }

  .containerBtn {
    width: 100%;
  }
}

@media (min-width: 992px) {
  /*Desktop*/
  .contentForm {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: center;
  }

  .containerForm {
    display: flex;
    justify-content: space-evenly;
    flex-flow: column wrap;
  }

  .containerForm div {
    width: 100%;
  }

  .contentForm .logoForm {
    width: 100%;
  }
}
/*main*/
