@import url(footer.css);
@import url(login.css);
@import url(header.css);
@import url(main.css);
@import url(productDetail.css);
@import url(register.css);
@import url(productCart.css);  
@import url(generalProduct.css);
@import url(finishBuying.css);
@import url(userProfile.css);
@import url(profile-user.css);
@import url(editProduct.css);
@import url(general.css);
@import url(about.css);
@import url(cargaProducts.css);