<!DOCTYPE html>
<html lang="en">
    
    <%- include('partials/head') %> 
    <link rel="stylesheet" href="/stylesheets/styles.css">
<body class="body-about">
    <%- include('partials/header') %>
    <div class="ul-about-view">
        <ul>
            <li><a href="">Inicio /</a></li>
            <li><a href=""> Productos /</a></li>
            <li>About</li>
        </ul>
    </div>
    
    <div class="linea-tiempo">
        <div class="momento">
          <h3>2010</h3>
          <div class="descripcion">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, iusto.
          </div>
        </div>
        <div class="momento">
          <h3>2011</h3>
          <div class="descripcion">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, iusto.
          </div>
        </div>
        <div class="momento">
          <h3>2013</h3>
          <div class="descripcion">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, iusto.
          </div>
        </div>
        <div class="momento">
          <h3>2019</h3>
          <div class="descripcion">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, iusto.
          </div>
        </div>
      </div>
    <div class="about-banner-us">
        <img class="img-banner-about" src="/images/about-us/5.jpg" alt="">
    </div>
    <%- include('partials/footer')  %> 
</body>
</html>