<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../grupo_4_Extremetech/public/stylesheets/cargas.css">
</head>
<body>
    <header>
        <img  src="../../../grupo_4_Extremetech/public/images/EXTREME TECH (1).png" alt="">
        <nav class="vgg">
            <ul id="Letras">
                <li>Usuario:Nombre Usuario</li>
                <li><a class="Nword" href="#">Cerrar Sesion</a></li>
            </ul>
        </nav>
    </header>
   <!-- <div class="Login-box">
        <h1>Carga de productos</h1>
        <h5>Nuevo producto</h3>
            <!--Usuario-->
        
        <!--<input type="text" placeholder="Nombre">
        <input type="text" placeholder="Subcategoria">
        <input type="text" placeholder="Descuento">
        <input type="text" placeholder="Categoria">
        <input type="text" placeholder="Precio">
        <input type="text" placeholder="Stock">


        <input class="Botonn" type="submit" value="Log in">
      
   
       

    </form>
    </div>-->
    <h2 class="H2o">Carga de productos</h1>
        <h4 class="H5">Nuevo producto</h3>
    
     
    <div class="Fondito1" >
       
        <div class="darius">
          <input class="topito" type="text" placeholder="Nombre" />
          <input class="topito"type="text" placeholder="Subcategoria">
          <input type="text" class="topito" placeholder="Descuento"/>
          <input type="text" class="topito" placeholder="Categoria"/>
          <input type="text" class="topito" placeholder="Precio"/>
          <input type="text" class="topito" placeholder="stock"/>
        </div>
          

          <p id="arbol">Descripcion del producto</p>

          <textarea class="Topii" name="" id="" ></textarea>
         

       <p>Agregar archivos de imagen</p>
       <div class="HolaMundo">
       <input type="button" value="Seleccionar archivos" id="Subir"
       onclick="document.getElementById('file').click()">
    </div>
          <input  class="buttonForm" type="file" id="file" /><br><br>
          <div id="FFF">
          <input id="Finalizar" value="Finalizar" type="button">
        </div>
      
     
      
         

        </div>
    
       
      
    
</body>
</html>
