<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
</head>
<body>
    <header class="headerEdit">
        <img class="logoAdmin" src="/images/logo-principal.png" alt="logo" />
        <div class="userAdmin">
            <p>Usuario: Nombre Usuario</p>
            <p>Cerrar Sesión</p>
        </div>
    </header>
    <main class="main-carga-productos-panel">
        <h2 class="carga-productos-panel-adm">Carga de productos</h1>
            <h4 class="nuevo-producto-panel-adm">Nuevo producto</h3>
                <form action="/admin/agregarProducto" method="POST">
                <div class="carga-form-productos" >
                    <div class="container-productos-carga-individual">
                        <input class="producto-individual-carga" type="text" name="modelo" placeholder="Modelo" />
                        <input class="producto-individual-carga"type="text" name="marca" placeholder="Marca">
                        <input type="text" class="producto-individual-carga" name="discount" placeholder="Descuento"/>
                        <select name="categorias" id="categorias" class="form-input">
							<option value="alimentacion" >Alimentacion</option>
							<option value="almacenamiento">Almacenamiento</option>
							<option value="micro">Microprocesadores</option>
							<option value="mother">Motherboards</option>
							<option value="memorias">Memorias</option>
							<option value="gpu">Placa de Video</option>
							<option value="refrigeracion">Refrigeracion</option>
							<option value="gabinetes">Gabinetes</option>
							<option value="perifericos">Perifericos</option>
							<option value="audio">Audio</option>
							<option value="soft">Software</option>
							<option value="monitores">Monitores</option>
						</select>
                        <input type="text" class="producto-individual-carga" name="precio" placeholder="Precio"/>
                        
                    </div>
                    <p id="desc-producto-carga-productos">Descripcion del producto</p>
                    <textarea class="desc-product-text-area" name="description" id="" ></textarea>
                    <p class="add-file-img-carga-products">Agregar archivos de imagen</p>
                    <div class="container-img-products-carga-end">
                        <!-- <input  class="buttonForm" type="file" id="file" name="image" /><br><br> -->
                        <div id="submit-fn">
                            <button type="submit" id="btn-submit-finalizar-edit">Finalizar</button>
                        </div>
                    </div>
                </div>
            </form>
                </main>
            </body>
            </html>