<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')%>
  <body>
    <%- include('partials/header') %> 
    <main>
      <!-- Title -->
      <div class="titleForm">
        <h3>FORMULARIO DE REGISTRO</h3>
        <p>Completá los siguientes datos para registrarse en nuestro sitio.</p>
      </div>
      <!-- Title -->

      <section class="contentForm">
        <!-- Image Logo -->
        <div class="logoForm">
          <img src="/images/logo-principal.png" alt="logo extreme-tech" />
        </div>
        <!-- Image Logo -->

        <!-- Form -->
        <div class="dataForm">
          <form class="containerForm" action="">
            <div>
              <legend>Datos de cuenta</legend>
              <label for="email">E-mail</label>
              <input type="email" name="email" />
              <label for="contraseña">Contraseña</label>
              <input type="password" name="contraseña"/>
              <label for="repetir contraseña">Repetir contraseña</label>
              <input type="password" name="repetir contraseña"/>
            </div>
            <hr />
            <div>
              <legend>Datos Personales</legend>
              <label for="nombre">Nombre</label>
              <input type="text" name="nombre" />
              <label for="apellido">Apellido</label>
              <input type="text" name="apellido" />
              <label for="telefono">Telefono</label>
              <input type="tel"  name="telefono" />
            </div>
            <div class="containerBtn">
              <button class="buttonForm" type="submit">Enviar datos</button>
            </div>
          </form>
        </div>
        <!-- Form -->
      </section>
    </main>
    <%- include('partials/footer')  %> 
  </body>
</html>
