<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Linked font-awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <!-- Css Linked -->
    <link rel="stylesheet" href="stylesheets/styles.css">
    <title>Document</title>
</head>
<body>
    <footer>
        <!-- CATEGORY LIST -->
        <ul class="categorys ul-style">
            <h4 class="h4-footer">Categorias</h4>
            <li class="li-footer"><a class="a-footer" href="#">Placa de video</a></li>
            <li class="li-footer"><a class="a-footer" href="#">Procesadores</a></li>
            <li class="li-footer"><a class="a-footer" href="#">Memorias</a></li>
            <li class="li-footer"><a class="a-footer" href="#">Todas las categorias</a></li>
        </ul>
        <!-- BRAND LIST -->
        <ul class="brand ul-style" >
            <h4 class="h4-footer">Marcas</h4>
            <li class="li-footer"><a class="a-footer" href="#">Intel</a></li>
            <li class="li-footer"><a class="a-footer" href="#">Amd</a></li>
            <li class="li-footer"><a class="a-footer" href="#">Aorus</a></li>
            <li class="li-footer"><a class="a-footer" href="#">Asus</a></li>
        </ul>
        <!-- MOST WANTED LIST --> 
        <ul class="wanted ul-style">
            <h4 class="h4-footer">Lo mas buscado</h4>
            <li class="li-footer"><a class="a-footer" href="#">Placas de video</a></li>
            <li class="li-footer"><a class="a-footer" href="#">Procesadores Amd</a></li>
            <li class="li-footer"><a class="a-footer" href="#">Teclados</a></li>
            <li class="li-footer"><a class="a-footer" href="#">RGB</a></li>
        </ul>
        <!-- HELP LIST -->
        <ul class="help ul-style">
            <h4 class="h4-footer">Ayuda</h4>
            <li class="li-footer><a class="a-footer" href="mailto:aaaaaa@gmail.com">compu@compu.com</a></li>
            
        </ul>
        <!-- REDES -->
        <ul class="networks ul-style">
            <h4 class="h4-footer">Redes</h4>
            <div class="networks-img">
                <li class="li-footer"><a class="a-footer" href="https://www.instagram.com" target="_blank"><img alt="boton instagram" src="https://cdn.jsdelivr.net/gh/persano/bannersmaximus/instagram.svg" style="height:35px;width:45px;vertical-align:middle"></a></li>
                <li class="li-footer"><a class="a-footer" href="https://api.whatsapp.com/send?phone=1111111111" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                <li class="li-footer"><a class="a-footer" href="https://www.facebook.com" target="_blank"><img alt="boton facebook" src="https://cdn.jsdelivr.net/gh/persano/maximus/facebook1.svg" style="height:35px;width:45px;vertical-align:middle"></a></li>
            </div>
        </ul>
        
    </footer>
    
</body>
</html>


