<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- google font -->
    <script
    src="https://kit.fontawesome.com/b1d9e52131.js"
    crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- fuente -->
    <link
    href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap"
    rel="stylesheet"
    />
    <!-- jquery carousel main product -->
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/b1d9e52131.js" crossorigin="anonymous"></script>
    <!-- styles -->
    <script src="/javascript/menu.js"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title><%= title %></title>
  </head>