<header>
    <nav class="navbar">
      <div class="container">
        <!-- menu hamburguer -->
        <div class="menu-hamburguer">
          <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/products/ofertas">Ofertas</a>
            <a href="/products/notebooks">Notebooks</a>
            <a href="/products">Productos</a>
            <a href="#">Contact</a>
          </div>
          <!-- toggle nav -->
          <div id="main">
            <button class="openbtn" onclick="openNav()">&#9776;</button>
          </div>
        </div>
        <!-- logo navbar -->
        <div class="logo">
         <a href="/"><img src="/images/logo-principal.png" alt="" /></a>
        </div>
        <!-- search -->
        <div class="search-container">
          <input type="search" name="" id="" />
          <i class="fas fa-search"></i>
        </div>
        
        <!-- login and cart -->
        <div class="login-cart">

          <!-- Comienzo ProductCart -->
              <%- include('./productCart') %> 
          <!-- Fin ProductCart -->

          <!-- Comienza ventana modal Login -->
              <%- include('./login') %> 
          <!-- Fin ventana modal Login -->

      <!-- links -->
      <ul class="ul-links">
        <li><a href="/products/ofertas">Ofertas</a></li>
        <li><a href="/products/notebooks">Notebooks</a></li>
        <li><a href="/products">Productos</a></li>
        <li><a href="/about">Nosotros</a></li>
      </ul>
    </nav>
  </header>