<header class="headerEdit">
    <a href="/"><img src="/images/logo-principal.png" alt="" /></a>
    <div class="userAdmin">
      <p>Usuario: Nombre Usuario</p>
      <p>Cerrar Sesión</p>
    </div>
    </header>