<div>
    <button onclick="openModal()" name="button">Login</button>
  </div> 
  <div class="modal" id="modalAdd">
    <div class="modal-container">
      <div class="close-modal" onclick="closeModal()">X</div>
      <div>
        <div class="section2-login">
          <h2 class="enter-register">Inicia sesion/Registrate</h2>
          <form action="" class="form-login">
              <p class="user">
              <label for="user"><i class="far fa-envelope"></i>

              </label>
                  <input class="inputs" type="text" name="user" id="user" placeholder="Usuario">
              </p>
              <p class="pass">
                  <label for="password"><i class="fas fa-lock"></i></label>
                  <input class="inputs" type="password" name="password" id="password" placeholder="Contraseña">
              </p>
              <p class="remember-password">
              <label for="remember">Recordar contraseña</label>
              <input type="checkbox" name="remember" id="remember">
          </p>
              <a class="a-login" href="#">Olvidaste tu contraseña?</a>
              <h3 class="enter"> O ingresa con:</h4>
              <div class="login-gmail">
              <a href="#"><div><img src="/images/google.png" alt=""></div><div class="btn-google"><h6>Google</h6></div></a>
          </div>
          </form>
          <div class="btn-login">
          <button class="btn-style" id="btn-width" type="submit">Ingresar</button>
          <button class="btn-style" id="btn-width" type="submit"><a href="/user/register">Registrarse</a></button>
      </div>
    </div>
      </div>
      
    </div>
  </div>
  <script src="../../../javascript/modal.js"></script>
</div>
</div>