<div class="productCart">
    <input type="checkbox" id="btn-modalCart" />
    <label for="btn-modalCart" class="lbl-modalCart"
      ><i class="fas fa-shopping-cart" id="carrito-color"></i
    ></label>

    <div class="modalCart">
      <div class="containerCart">
        <h2 class="titleCart">Carrito de Compras</h2>
        <label for="btn-modalCart"><i class="fas fa-times cruz"></i></label>

        <div class="containerProduct">
          <h4>Productos</h4>
          <div class="productCardCart">
            <div class="image">
              <img src="/images/hyperx/hx-pulsefire-dart-2.jpg" alt="mouse hyperX"
              />
            </div>
            <div class="description">
              <p class="nameProduct">Mouse HyperX Pulse Fire Dart</p>
              <input type="number" placeholder="0" max="5" min="0" maxlength="1" minlength="1"
              />
            </div>
            <div class="price">
              <i class="fas fa-trash-alt trash"></i>
              <p>$ 9200</p>
            </div>
          </div>
          <div class="productCardCart">
            <div class="image">
              <img src="/images/hyperx/hx-pulsefire-dart-2.jpg" alt="mouse hyperX"
              />
            </div>
            <div class="description">
              <p class="nameProduct">Mouse HyperX Pulse Fire Dart</p>
              <input type="number" placeholder="0" max="5" min="0" maxlength="1" minlength="1"
              />
            </div>
            <div class="price">
              <i class="fas fa-trash-alt trash"></i>
              <p>$ 9200</p>
            </div>
          </div>
          <div class="productCardCart">
            <div class="image">
              <img src="/images/hyperx/hx-pulsefire-dart-2.jpg" alt="mouse hyperX"
              />
            </div>
            <div class="description">
              <p class="nameProduct">Mouse HyperX Pulse Fire Dart</p>
              <input type="number" placeholder="0" max="5" min="0" maxlength="1" minlength="1"
              />
            </div>
            <div class="price">
              <i class="fas fa-trash-alt trash"></i>
              <p>$ 9200</p>
            </div>
          </div>
          <div class="subtotal">
            <p><span>Subtotal:</span></p>
            <p>$ 27.600</p>
          </div>
          <div class="total">
            <p><span>Total:</span></p>
            <p>$ 27.600</p>
          </div>
          <div class="buy">
            <a href="/products"
              ><button class="moreProducts">Ver más</button></a
            >
            <a href="/user/shop"><button class="buttonBuy" type="submit">Comprar</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>