<div class="simil-body">
    <nav class="full-screen-nav">
        <div class="backdrop"></div>
        <ul>
            <li ><a href="/products/alimentacion">Alimentacion</a></li>
            <li><a href="/products/almacenamiento">Almacenamiento</a></li>
            <li><a href="/products/micro">Microprocesadores</a></li>
            <li><a href="/products/mother">Motherboards</a></li>
            <li><a href="/products/memorias">Memorias</a></li>
            <li><a href="/products/gpu">Placas de video</a></li>
            <li><a href="/products/refrigeracion">Refrigeracion</a></li>
            <li><a href="/products/gabinetes">Gabinetes</a></li>
            <li><a href="/products/perifericos">Perifericos</a></li>
            <li><a href="/products/audio">Audio</a></li>
            <li><a href="/products/soft">Software</a></li>
            <li><a href="/products/monitores">Monitores</a></li>
             <li><a href=""></a></li>
        </ul>
    </nav>

    <div class="content-product">
        <button class="trigger"><i class="fas fa-chevron-down"></i></button>
    </div>

    <script src="../javascript/porqueria.js"></script>
    </div>
    <section class="list-product">
        <div id="lista">
            <h4>Categorias</h4>

            <ul class="ul-product">
                <li ><a href="/products/alimentacion">Alimentacion</a></li>
                <li><a href="/products/almacenamiento">Almacenamiento</a></li>
                <li><a href="/products/micro">Microprocesadores</a></li>
                <li><a href="/products/mother">Motherboards</a></li>
                <li><a href="/products/memorias">Memorias</a></li>
                <li><a href="/products/gpu">Placas de video</a></li>
                <li><a href="/products/refrigeracion">Refrigeracion</a></li>
                <li><a href="/products/gabinetes">Gabinetes</a></li>
                <li><a href="/products/perifericos">Perifericos</a></li>
                <li><a href="/products/audio">Audio</a></li>
                <li><a href="/products/soft">Software</a></li>
                <li><a href="/products/monitores">Monitores</a></li>
                 <li><a href=""></a></li>
            </ul>
        </div>
    </section>